<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8" />
    <title>113409531_js_2</title>
    <link rel="stylesheet" href="../static/113409531_js_2.css">
    <style>
        table, th, td { border: 1px solid black; border-collapse: collapse; }
        th, td { padding: 6px; text-align: center; }
        img { width: 100px; height: auto; }
    </style>
    <script src="../static/113409531_js_2.js" defer></script>
</head>
<body>
<h1>購物車</h1>

<table id="cart">
    <thead>
    <tr>
        <th><input type="checkbox" id="check_all"></th>
        <th>商品</th>
        <th>單價</th>
        <th>庫存</th>
        <th>數量</th>
        <th>小計</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><input type="checkbox" class="check_item"></td>
        <td><img src="../static/img/bracelet.jpeg" alt="bracelet"><br>
            幸運三色手環
        </td>
        <td class="price">70</td>
        <td class="stock">23</td>
        <td>
            <button class="btn_minus">−</button>
            <input type="number" class="input_qty" value="1" min="0" step="1">
            <button class="btn_plus">＋</button>
        </td>
        <td class="subtotal">70</td>
    </tr>
    <tr>
        <td><input type="checkbox" class="check_item"></td>
        <td>
            <img src="../static/img/tissue.jpeg" alt="tissue"><br>
            一張沒用過的衛生紙
        </td>
        <td class="price">55</td>
        <td class="stock">32</td>
        <td>
            <button class="btn_minus">−</button>
            <input type="number" class="input_qty" value="1" min="0" step="1">
            <button class="btn_plus">＋</button>
        </td>
        <td class="subtotal">55</td>
    </tr>
    <tr>
        <td><input type="checkbox" class="check_item"></td>
        <td>
            <img src="../static/img/air.jpeg" alt="air"><br>
            一包新鮮的空氣
        </td>
        <td class="price">45</td>
        <td class="stock">17</td>
        <td>
            <button class="btn_minus">−</button>
            <input type="number" class="input_qty" value="1" min="0" step="1">
            <button class="btn_plus">＋</button>
        </td>
        <td class="subtotal">45</td>
    </tr>
    <tr>
        <td colspan="5" align="right">total</td>
        <td>$<span id="total">0</span></td>
    </tr>
    <tr>
        <td colspan="6" align="right">
            <button id="btn_checkout">結帳</button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>