<!doctype html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8"/>
    <title>113409531_林其棣</title>
    <link rel="stylesheet" href="../static/css/113409531_css.css"/>
    <!-- 導覽列樣式已移至外部 CSS -->
</head>
<body>
<nav>
    <ul class="menu">
        <li><a href="113409531_index.html">首頁</a></li>
        <li class="sep">｜</li>
        <li><a href="113409531_detail.html">詳細介紹</a></li>
        <li class="sep">｜</li>
        <li class="has-sub">
            <a href="#" aria-haspopup="true" aria-expanded="false">更多連結</a>
            <ul class="submenu">
                <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener">不要放棄</a></li>
                <li><a href="https://www.youtube.com/watch?v=IxX_QHay02M" target="_blank" rel="noopener">貓</a></li>
            </ul>
        </li>
    </ul>
</nav>
<hr>
<h1>我是林其棣</h1>

<table>
    <tr>
        <td><img src="../static/img/school.jpg" width="200" alt="事實1"></td>
        <td><a href="113409531_detail.html"><img src="../static/img/steam.jpg" width="200" alt="事實2"></a></td>
        <td><img src="../static/img/jpop.jpg" width="200" alt="事實3"></td>
    </tr>
    <tr>
        <td>我是中央大學經濟系學生</td>
        <td><a href="113409531_detail.html">我喜歡遊戲和動漫</a></td>
        <td>我喜歡聽 J-pop 音樂</td>
    </tr>
</table>
</body>
</html>