<!doctype html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8"/>
    <title>113409531_林其棣</title>
    <link rel="stylesheet" href="../static/css/113409531_css.css"/>
</head>
<body>
<nav>
    <ul>
        <li><a href="113409531_index.html">首頁</a></li>
        <li><a href="113409531_detail.html">更多</a></li>
    </ul>
</nav>

<h1>我是林其棣</h1>

<table>
  <tr>
    <td><img src="../static/img/school.jpg" width="200" alt="事實1"></td>
    <td><a href="113409531_detail.html"><img src="../static/img/steam.jpg" width="200" alt="事實2"></a></td>
    <td><img src="../static/img/jpop.jpg" width="200" alt="事實3"></td>
  </tr>
  <tr>
    <td>我是中央大學經濟系學生</td>
    <td><a href="113409531_detail.html">我喜歡遊戲和動漫</a></td>
    <td>我喜歡聽 Jpop 音樂</td>
  </tr>
</table>
</body>
<h1>我喜歡的遊戲</h1>
<table border="1">
  <tr>
    <td>
      <a href="https://store.steampowered.com/app/570/Dota_2/" target="_blank">
        <img src="../static/img/steam.jpg" width="200" alt="Dota 2">
        <br>Dota 2
      </a>
    </td>
    <td>
      <a href="https://www.minecraft.net/" target="_blank">
        <img src="../static/img/minecraft.jpg" width="200" alt="Minecraft">
        <br>Minecraft
      </a>
    </td>
    <td>
      <a href="https://www.leagueoflegends.com/" target="_blank">
        <img src="../static/img/lol.jpg" width="200" alt="League of Legends">
        <br>League of Legends
      </a>
    </td>
  </tr>
</table>
</html>