<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>113409531_林其棣</title>
    <style>
      table td {
        vertical-align: top;
      }
      table img {
        display: block;
        height: 315px;
        width: auto;
      }
      iframe {
        border: none;
      }
    </style>
</head>
<body>

<h1>空洞騎士：絲綢之歌</h1>
<ul>
  <li>類型：類銀河戰士惡魔城</li>
  <li>特色：精緻的2D手繪風格、流暢的操作與打擊感、史詩而動聽的音樂</li>
  <li>發售平台：Steam、Switch、Xbox</li>
</ul>
<table>
  <tr>
    <td>
      <a href="https://store.steampowered.com/app/1030300/Hollow_Knight_Silksong/" target="_blank">
        <img src="../static/img/silksong.jpg" alt="絲綢之歌">
      </a>
    </td>
    <td>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6XGeJwsUP9c" title="YouTube video player" allowfullscreen></iframe>
    </td>
  </tr>
</table>

</body>
</html>